.env
.venv

db.sqlite3

staticroot
*.log
.history

__pycache__

info_screens.log
.info_screens.log.swp

### VisualStudioCode ###
.vscode/**/*
!.vscode/extensions.json
!.vscode/extensions.json.recommended
!.vscode/launch.json
!.vscode/settings.json.default
!.vscode/settings.json.recommended
