.env
.venv

db.sqlite3

__pycache__

info_screens.log

### VisualStudioCode ###
.vscode/**/*
!.vscode/extensions.json
!.vscode/extensions.json.recommended
!.vscode/launch.json
!.vscode/settings.json.default
!.vscode/settings.json.recommended
