[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
django-filter = "*"
django-libsass = "*"
django-guardian = "*"
django-extensions = "*"
django-user-agents = "*"
django-debug-toolbar = "*"
gunicorn = "*"
whitenoise = "*"
pylint = "*"
pylint-django = "*"
yapf = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.9"
