/* line 1, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 6, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.vw-100 {
  width: 100vw !important; }

/* line 9, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.vh-100 {
  height: 100vh !important; }

/* line 14, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.row, [class^="col"] {
  margin: 0;
  padding: 0; }
