/* line 1, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 6, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.vw-100 {
  width: 100vw !important; }

/* line 9, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.vh-100 {
  height: 100vh !important; }

/* line 13, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.object-fit-cover {
  object-fit: cover !important; }

/* line 17, infoscreen/static/infoscreen/scss/custom_bootstrap.scss */
.row, [class^="col"] {
  margin: 0;
  padding: 0; }

/* line 7, infoscreen/static/infoscreen/scss/base.scss */
body {
  background-color: #444;
  color: #eee; }
