{% extends "infoscreen/base.html" %}
{% load infoscreen_tags %}
{% load static %}


{% block title %}Screens{% endblock %}

{% block head %}
    <style>
    </style>
{% endblock %}

{% block body %}
<div class="body-inner">

    <div class="container">
        <div class="row mb-3">
        {% for screen in screens %}
                <div class="col col-sm-3">
                    <a href="/screen/{{ screen.slug }}">
                    <h3>{{ screen.name }}</h3>
                    {% if screen.images.first %}
                        <img src= "{{ screen.images.first.url }}" class="img-fluid mb-2" width="90%"/>
                    {% else %}
                        <img class="img-fluid mb-2" src='{% static "infoscreen/img/default.jpg" %}' width="90%"/>
                    {% endif %}
                    </a>
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

