{% extends "infoscreen/base.html" %}
{% load infoscreen_tags %}
{% load static %}


{% block title %}Screens{% endblock %}

{% block head %}
    <style>
    </style>
{% endblock %}
{% block navbar %}
    {% include "infoscreen/components/navbar.html" %}
{% endblock %}

{% block body %}
<div class="body-inner">
    <div class="container">
        <div class="row">
        {% for screen in screens %}
        <div class="col-6 col-md-4">
            {% screen_component screen=screen %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "infoscreen/components/footer.html" %}
{% endblock %}

